.parag_about_departments {
  padding: 20px;
  font-size: 15px;
  font-weight: 400;
}
.note {
  width: fit-content;
  border-radius: 4px;
  font-size: 20;
  font-weight: 600;
  padding: 10px;
  color: white;
  background-color: #fe4200;
}
