h4 {
  color: #2e8b56c2;
  font-family: Arial, Helvetica, sans-serif;
}

.containerFootertop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.884);
  color: rgb(94, 94, 94);
  font-size: 12px;
  width: 100%;
}
.linksEtc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
}
.linksEtc h4 {
  color: rgba(255, 255, 255, 0.89);
  font-size: 14px;
}
.linksEtc p {
  font-size: 12px;
}
.inLinks1 {
  width: 20%;
  /* padding: 0 20px; */
}
.inLinks1 ul li {
  list-style-type: square;
}
.inLinks2 {
  width: 20%;
}
.inLinks3 {
  width: 20%;
}
.inLinks4 {
  width: 40%;
}
.footerParagraphs {
  padding: 1%;
}

.copyRight {
  height: 30px;
  width: 90%;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  padding: 25px 25px 25px 50px;
}

@media screen and (max-width: 650px) {
  .linksEtc {
    flex-direction: column;
  }
  .inLinks1 {
    width: 100%;
    margin: 10px;
  }
  .inLinks2 {
    width: 100%;
    margin: 10px;
  }
  .inLinks3 {
    width: 100%;
    margin: 10px;
  }
  .inLinks4 {
    width: 100%;
    margin: 10px;
  }
}
