.Gallary {
  column-count: 6;
  column-width: 0.06%;
  column-gap: 2px;
  padding: 0%;
  height: 1000px;
  overflow: scroll;
  margin: auto;
  border: 8px solid #013737;
}
.pics {
  border: 3px solid #fe4200;
  margin: 1px 1px;
  padding: 0%;
  height: fit-content;
  overflow: hidden;
}
.pics:hover {
  cursor: pointer;
  opacity: 0.9;
}
.pics img {
  height: fit-content;
}
.pics img:hover {
  transform: scale(1.1);
}
.carousel {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transform: opacity 0.4s ease, visibility 0.4s ease;
  background-color: black;
  z-index: 1;
}
.carousel.open {
  visibility: visible;
  opacity: 1;
}
.closeCarousel {
  color: #fe4200;
  font-size: 40px;
  font-weight: 600;
  position: absolute;
  top: 20px;
  right: 40px;
  border-radius: 8px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.185);
}
.closeCarousel:hover {
  background-color: rgba(255, 255, 255, 0.26);
  cursor: pointer;
}
.slidingCarousel {
  color: #fe4200;
  font-size: 50px;
  margin: 0 100px;
  background-color: rgba(255, 255, 255, 0.185);
  border-radius: 8px;
  padding: 10px;
  position: absolute;
  z-index: 8;
}
.slidingCarouselClose {
  display: none;
}
.slidingCarousel:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.26);
}
.carousel img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 30px 0 30px 0;
  margin: 0 auto;
}
@media screen and (max-width: 955px) {
  .Gallary {
    column-count: 3;
    column-width: 33.33%;
  }
  .slidingCarousel {
    font-size: 40px;
    margin: 0 50px;
    padding: 8px;
  }
}
@media screen and (max-width: 830px) {
  .slidingCarousel {
    font-size: 30px;
    margin: 0 40px;
    padding: 6px;
  }
}
