* {
  padding: 0%;
  margin: 0%;
  list-style-type: none;
  /* border: 1px solid rgb(0, 255, 13); */
}
.navbar04 {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  background-color: #fe4200;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
}
.navbar04loginup {
  font-size: 18px;
  margin: 0 10px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.navbar04loginup:hover {
  /* background-color: #013737; */
  border-bottom: 2px solid #013737;
}
.active {
  background-color: #fe4200;
}
.navbar01 ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #013737;
  height: 80px;
  color: white;
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  position: relative;
  z-index: 0;
}
.navbar01 ul li {
  margin: 20px;
  cursor: pointer;
}
.navbar01 ul li:nth-child(1) img {
  height: 80px;
  padding-top: 30px;
  border-right: 1px solid #fe4200;
}
.navbar01 ul li:nth-child(2) {
  color: rgb(255, 0, 0);
  font-weight: bold;
  font-size: 30px;
  margin-left: auto;
}
.donate {
  color: white;
  background-color: #fe4200;
  padding: 10px;
}
.navbar02 {
  background-color: white;
  box-shadow: 0px 2px 5px 0px rgba(1, 55, 55, 0.7);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(1, 55, 55, 0.7);
  -moz-box-shadow: 0px 2px 5px 0px rgba(1, 55, 55, 0.7);
  z-index: 1;
}
.navbar02ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  z-index: 1;
}

.navbar02ul li {
  padding: 20px 0px;
  margin: 0 10px;
}
.linkk {
  text-decoration: none;
  color: black;
}
.linkk2 {
  padding: 10px;
  margin: 0%;
}
.linkk2:hover {
  background-color: #fe4200;
}
.nestedDepartments {
  display: none;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  position: absolute;
  margin: 20px 0px 0 0;
  background-color: white;
  font-size: 16px;
  box-shadow: 0px 2px 5px 0px rgba(1, 55, 55, 0.7);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(1, 55, 55, 0.7);
  -moz-box-shadow: 0px 2px 5px 0px rgba(1, 55, 55, 0.7);
}
.nestedDepartments li {
  border-bottom: 1px solid #fe440046;
  padding: 2%;
}
.nestedDepartments li:hover {
  background-color: white;
  color: #fe4200;
}
.navbar02ul li:hover .nestedDepartments {
  display: grid;
}
.nestedEnt ul {
  display: none;
}
.nestedEnt:hover ul {
  display: flex;
  flex-direction: column;
}
.navbar03 ul {
  display: none;
  list-style-type: none;
  padding: 10px;
  margin-top: 10px;
}
.navbar03items {
  width: 100%;
  padding: 10px;
  margin: 0 2px;
  background-color: #fe4200;
}
.navbar03 ul li:hover {
  cursor: pointer;
}

/* Media Queries Started */
/* 2nd one media query */
@media screen and (max-width: 772px) {
  .navbar01 ul li:nth-child(3) {
    display: none;
  }
  .navbar01 ul li:nth-child(1) img {
    height: 70px;
  }
  .nestedDepartments {
    grid-template-columns: auto auto;
    margin: 10px;
    font-size: 15px;
  }
  .navbardepartmentlisthover:hover {
    color: #fe4200;
  }
}
/* second media query */
@media screen and (max-width: 560px) {
  .navbar01 ul {
    height: 60px;
  }
  .navbar01 ul li:nth-child(1) img {
    height: 50px;
  }
  .navbar01 ul li:nth-child(2) {
    font-size: 20px;
  }
  .navbar01 ul li:nth-child(4) {
    background-color: #fe4400;
    padding: 3px;
  }
}
/* Third media quer */
@media screen and (max-width: 500px) {
  .navbar02 ul {
    flex-direction: column;
    display: none;
  }

  .navbar03 ul {
    display: flex;
    flex-direction: row;
  }
  .nestedDepartments {
    grid-template-columns: 200px;
    height: 400px;
    overflow: scroll;
  }
}
