.whychooseustop {
  margin: 8% 0 8% 0;
}
.whychooseus {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 0%;
  height: 1000px;
}
h1 {
  background-color: #013737;
  border-radius: 8px;
  padding: 10px;
  font-size: 25px;
  /* width: fit-co; */
  color: white;
  text-align: center;
}
.whychooseus h4 {
  margin-bottom: 10px;
}
.whychooseus p {
  margin: 5% 5%;
  padding: 5%;
  font-size: 15px;
  border-right: 1px solid #fe4200;
}
/* .laboratory {
  font-size: 150px;
  color: #fe4200;
  margin: 12% 0% 0 0;
} */
.medicallabelsinwhychooseus {
  height: 70%;
  padding: 10px;
  margin: auto;
  border-radius: 20px;
}

@media screen and (max-width: 900px) {
  .whychooseus {
    grid-column-gap: 3%;
  }
  .whychooseus h4 {
    margin-bottom: 5px;
  }
  .whychooseus p {
    margin: 2% 2%;
    padding: 2%;
    font-size: 14px;
  }
  .medicallabelsinwhychooseus {
    height: 50%;
    padding: 10px;
  }
  /* .laboratory {
    font-size: 50px;
    color: #fe4200;
    margin: 8% 0% 0 0;
  } */
}
