.breadcrumbs_hmsapps {
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fe4200;
  padding: 15px;
  z-index: 22;
}
.breadCrumbs {
  display: flex;
  flex-direction: row;
}
.breadCrumbs li {
  margin: 0 10px;
  font-size: 14px;
  font-weight: 500;
  color: white;
}
