.popup {
  position: fixed;
  top: 85px;
  left: 80%;
  padding: 10px 20px;
  background-color: #0a5d00;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  animation-name: popupp;
  animation-duration: 1.5s;
  z-index: 9999;
}

@keyframes popupp {
  from {
    top: 70px;
  }
  to {
    top: 85px;
  }
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
