* {
  margin: 0%;
  padding: 0%;
  /* border: 1px solid brown; */
}

.departmentdetailstop {
  position: relative;
}

.departdetailscontainer {
  display: grid;
  grid-template-columns: 16% 84%;
  margin: 4px 0 0 0;
  position: relative;
}
.departdetailscolumn01 {
  overflow: scroll;
  width: 16vw;
  position: sticky;
  height: 100vh;
  top: 0%;
  bottom: 0%;
  left: 0%;
  z-index: 1;
}
.departdetailscolumn01 ul {
  display: flex;
  flex-direction: column;
  background-color: #013737;
  box-sizing: border-box;
}
.departdetailscolumn01 ul li {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding: 5%;
  border-bottom: 1px solid #fe44005b;
  overflow: hidden;
}
.departdetailscolumn01 ul li:hover {
  cursor: pointer;
}
.departdetailcolumn02arrow {
  font-size: 20px;
  position: absolute;
  right: 5%;
  padding: 0% 5% 0% 100%;
  color: white;
}
.departdetailcolumn02arrow:hover {
  transform: translateX(2%);
}
.departdetailscolumn02Father {
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.departdetailscolumn02Father Footer {
  width: 100vw;
}
.departdetailscolumn02 {
}
.departdetailscolumn02 ul li {
  margin: 10px;
  padding: 10px;
}
.departmentdetailsexplaining {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.departmentdetailsexplaining h4 {
  margin: 20px;
}
@media screen and (max-width: 1000px) {
  .departdetailscolumn01 ul li {
    font-size: 13px;
    font-weight: 400;
    margin: 2px 0 2px 0;
    padding: 10px 100px 10px 7px;
  }
}
@media screen and (max-width: 820px) {
  .departdetailscolumn01 ul li {
    font-size: 12px;
    font-weight: 300;
    margin: 2px 0 2px 0;
    padding: 10px 100px 10px 5px;
  }
}
@media screen and (max-width: 760px) {
  .departdetailscolumn01 ul li {
    font-size: 9px;
    font-weight: 300;
    margin: 2px 0 2px 0;
    padding: 10px 100px 10px 3px;
  }
}
@media screen and (max-width: 680px) {
  .departdetailscontainer {
    display: grid;
    grid-template-columns: auto;
    margin: 10px 0 10px 0;
  }
  .departdetailscolumn01 {
    display: none;
  }
}
