.doctortop {
  margin: 3% 10%;
}
.doctordetails {
  display: none;
  flex-direction: row;
  margin: 20px;
}
.col2indocdetails {
  margin: 10px 30px;
}
.doctorimgincard {
  height: 180px;
  width: 188px;
  margin: 0 auto 10px auto;
  border-radius: 20px;
}
.doctornameincard {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
}
.byprofessionincard {
  font-size: 10px;
  color: #000000a8;
}

/* Doctor Details Table */
table.employee_GeneratedTable {
  width: 100%;
  border-collapse: separate;
}

table.employee_GeneratedTable td,
table.employee_GeneratedTable th {
  border: 1px solid #0137372c;
  padding: 10px;
}

table.employee_GeneratedTable thead {
  background-color: #fe4200;
}

.doctorslider {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.doctorcard {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 220px;
  margin: 10px;
}
.jobtitleincard {
  color: rgba(0, 0, 0, 0.397);
}
.doctorcoverofimgtagsindoctorcard {
  padding: 6px;
  width: 220px;
  box-shadow: 0px 5px 5px 0px rgba(1, 55, 55, 0.7);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(1, 55, 55, 0.7);
  -moz-box-shadow: 0px 5px 5px 0px rgba(1, 55, 55, 0.7);
}
.fblogosincard {
  font-size: 20px;
  padding-top: 4px;
  padding-left: 2px;
  margin: 8px 0;
}
.viewdetailsincard {
  font-size: 12px;
  font-weight: 500;
  color: #fe4200;
  border: 2px solid #fe4200;
  width: fit-content;
  height: fit-content;
  margin: 8px 0 0px auto;
  padding: 5px;
  box-sizing: border-box;
}
.viewdetailsincard:hover {
  border: 2px solid #fe440071;
  /* color: white; this will not work due to Link of reacr router */
  /* cursor: pointer; this wil pre work bc of react router */
}
