.donatetop {
  margin: 3% 10%;
}
.donatetop span div,
.donatetop h3,
.donationformclass button {
  padding: 10px;
  margin: 20px 0;
  background-color: #fe4200;
  border-radius: 4px;
  color: white;
}
.donatetop h3 {
  width: fit-content;
}
.donatetop p {
  margin: 20px 0;
}
.donationformclass {
  display: flex;
  flex-direction: column;
  justify-content: start;
  box-shadow: 0px 2px 5px 0px rgba(1, 55, 55, 0.7);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(1, 55, 55, 0.7);
  -moz-box-shadow: 0px 2px 5px 0px rgba(1, 55, 55, 0.7);
}
.donationformclass label {
  font-size: 20px;
  margin: 10px 10px 0px 10px;
}
.donationformclass input,
.donationformclass select {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  outline: none;
}
.donationformclass button {
  font-size: 20px;
  margin: 10px;
  border: none;
}
.donationformclass button:hover {
  cursor: pointer;
}
.emailingduringdonation,
.finalstepduringdonation {
  display: flex;
  flex-direction: column;
  justify-content: start;
  box-shadow: 0px 2px 5px 0px rgba(1, 55, 55, 0.7);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(1, 55, 55, 0.7);
  -moz-box-shadow: 0px 2px 5px 0px rgba(1, 55, 55, 0.7);
  margin: 10px;
  padding: 10px;
}
.finalstepduringdonation ul li {
  list-style-type: square;
  margin: 10px;
  color: #013737;
}
