.dashboard_top {
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  justify-content: space-evenly;
  padding: 0% 10px;
}
.dashboard_employee_card {
  height: 120px;
  margin: 20px 0;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  box-shadow: 0px 2px 5px 0px rgba(1, 55, 55, 0.7);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(1, 55, 55, 0.7);
  -moz-box-shadow: 0px 2px 5px 0px rgba(1, 55, 55, 0.7);
  box-sizing: border-box;
}
.dashboard_employee_card:hover {
  transform: translateX(1%);
  /* transform: scale(1.1); */
}
.dashboard_employee_card_num {
  color: rgba(0, 0, 0, 0.432);
  position: absolute;
  left: 6%;
  top: 30%;
}
.dashboard_employee_card_name {
  color: #fe4400;
  position: absolute;
  bottom: 16%;
  left: 6%;
}
.dashboard_employee_card_icon {
  position: absolute;
  right: 3%;
  bottom: 30%;
  font-size: 60px;
  color: #013737;
  /* color: purple; */
}
/* dashboard patient card started */
.dashboard_top02 {
  grid-template-columns: 20% 20% 20% 20%;
  width: 95%;
  margin: 20px auto;
  padding: 0px 0px;
  box-shadow: 0px 2px 5px 0px rgba(1, 55, 55, 0.7);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(1, 55, 55, 0.7);
  -moz-box-shadow: 0px 2px 5px 0px rgba(1, 55, 55, 0.7);
  /* margin-bottom: 300px; */
}
.dashboard_employee_pat_card {
  height: 120px;
  margin: 10px 0;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  box-sizing: border-box;
}
.dashboard_psd_charts {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 300px;
  margin: 20px auto;
  padding: 1%;
  box-sizing: border-box;
  box-shadow: 0px 2px 5px 0px rgba(1, 55, 55, 0.7);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(1, 55, 55, 0.7);
  -moz-box-shadow: 0px 2px 5px 0px rgba(1, 55, 55, 0.7);
}
