.department_details_top_hmsapp {
  display: flex;
  flex-direction: column;
}
.departdetails_container_hmsapps {
  display: grid;
  grid-template-columns: 16% 84%;
}
.depart_heading {
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  border-radius: 4px;
  width: fit-content;
  margin: auto;
  background-color: #013737;
  color: white;
}
.departdetails_column01_in_hmsapp {
  overflow: scroll;
  width: 16vw;
  position: fixed;
  top: 18vh;
  bottom: 0%;
  left: 0%;
  z-index: 1;
}
.departdetails_column01_in_hmsapp ul {
  display: flex;
  flex-direction: column;
  background-color: #013737;
  box-sizing: border-box;
}
.departdetails_column01_in_hmsapp ul li {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding: 5%;
  border-bottom: 1px solid #fe44005b;
  position: relative;
}
.departdetails_column01_in_hmsapp ul li:hover {
  cursor: pointer;
}
.departdetail_column01_arrow_hmsapps {
  font-size: 20px;
  position: absolute;
  right: 5%;
  bottom: 0%;
  top: 0%;
  padding: 2% 0 0 100%;
  color: white;
}
.departdetail_column01_arrow_hmsapps:hover {
  transform: translateX(2%);
}
.departdetails_column02_in_hmsapps {
  padding: 5px;
  position: relative;
  width: 84vw;
  top: 8vh;
  right: 0%;
  left: 16vw;
  /* margin: 0 auto; */
  /* border: 4px solid purple; */
  box-sizing: border-box;
}
