* {
  margin: 0%;
  padding: 0%;
  /* border: 1px solid brown; */
}

.hmstop {
  position: relative;
}

.hmscontainer {
  display: grid;
  grid-template-columns: 16% 84%;
}
.hmscontainercol01 {
  overflow: scroll;
  width: 16vw;
  position: fixed;
  top: 11vh;
  bottom: 0%;
  left: 0%;
  z-index: 1;
}
.hmscontainercol01 ul {
  display: flex;
  flex-direction: column;
  background-color: #013737;
  box-sizing: border-box;
}
.hmscontainercol01 ul li {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  color: white;
  font-size: 15px;
  font-weight: 500;
  padding: 5%;
  border-bottom: 1px solid #fe44005b;
  overflow: hidden;
}
.hmscontainercol01 ul li:hover {
  cursor: pointer;
}
.hmscontainercol01_arrow {
  font-size: 20px;
  position: absolute;
  right: 5%;
  padding: 5% 5% 5% 100%;
  color: white;
}
.hmscontainercol01_arrow:hover {
  transform: translateX(2%);
}
.hmsmanagementicons {
  margin-top: 2px;
  font-size: 20px;
}
.hmscontainercol02 {
  display: flex;
  flex-direction: column;
  width: 84vw;
  position: relative;
  top: 11vh;
  left: 16vw;
  z-index: 1;
}
.hmscontainercol02_menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 2px 5px 0px rgba(1, 55, 55, 0.7);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(1, 55, 55, 0.7);
  -moz-box-shadow: 0px 2px 5px 0px rgba(1, 55, 55, 0.7);
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: white;
}
.hmscontainercol02_menu .linkk {
  margin: 0 20px;
}
.time_date_top_hms_menu {
  padding: 5px 10px;
  background-color: rgba(128, 128, 128, 0.089);
  border-radius: 4px;
  margin-left: auto !important;
  display: flex;
  align-items: center;
}
.img_name_top_hms_menu {
  padding: 1px 10px;
  width: fit-content;
  background-color: rgba(128, 128, 128, 0.089);
  border-radius: 4px;
  display: flex;
  align-items: center !important;
}
.hmscontainercol02_img {
  height: 44px;
  width: 44px;
  border-radius: 50px;
}

/* THIS IS FOR LATER CUSTOMIZING OF DOCTOR , RECEPTIONIST, LAB TECHNICIAN ETC
* {
  margin: 0%;
  padding: 0%;
}
.hmstop {
  position: relative;
}
.hmscontainer {
  display: grid;
  grid-template-columns: 16% 84%;
}
.hmscontainercol01 {
  overflow: scroll;
  width: 16vw;
  position: fixed;
  top: 11vh;
  bottom: 0%;
  left: 0%;
  z-index: 1;
}
.hmscontainercol01 ul {
  display: flex;
  flex-direction: column;
  background-color: #013737;
  box-sizing: border-box;
}
.hmscontainercol01 ul li {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  color: white;
  font-size: 15px;
  font-weight: 500;
  padding: 5%;
  border-bottom: 1px solid #fe44005b;
  overflow: hidden;
}
.hmscontainercol01 ul li:hover {
  cursor: pointer;
}
.hmscontainercol01_arrow {
  font-size: 20px;
  position: absolute;
  right: 5%;
  padding: 5% 5% 5% 100%;
  color: white;
}
.hmscontainercol01_arrow:hover {
  transform: translateX(2%);
}
.hmsmanagementicons {
  margin-top: 2px;
  font-size: 20px;
}
.hmscontainercol02 {
  display: flex;
  flex-direction: column;
  width: 84vw;
  position: relative;
  top: 11vh;
  left: 16vw;
  z-index: 1;
}
.hmscontainercol02_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0% 10px;
  box-shadow: 0px 2px 5px 0px rgba(1, 55, 55, 0.7);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(1, 55, 55, 0.7);
  -moz-box-shadow: 0px 2px 5px 0px rgba(1, 55, 55, 0.7);
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: white;
}
.hmscontainercol02_img {
  height: 60px;
  width: 60px;
  border-radius: 50px;
}  */
